---
title: Islam Muhammad blog.
layout: layouts/home.njk
description: Voracious reader, blogger, and ambitious frontend engineer who is passionate about building large-scale apps with a focus on accessibility and performance 👨‍💻
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>